* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.confirm-msg-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(85, 59, 20);
    border: 0;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.confirm-msg-container h2 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}