* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.content {
  display: flex;
}

.timeline {
  flex: 1;
  position: relative;
  max-width: 500px;
}

.events-news {
  flex: 2;
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -100px;
}

.events-news h1,
.timeline h1 {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  color: rgb(126, 75, 9);
  margin-top: 30px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.anounHeading h1 {
  margin-left: 40px;
}

.enHeading h1 {
  margin-top: -100;
  margin-bottom: 0;
}

.events-news h1.visible,
.timeline h1.visible {
  opacity: 1;
  transform: translateX(0);
}

.announcements {
  position: relative;
  padding: 10px 50px;
  width: 100%;
  left: 0;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.announcements:nth-child(1) {
  animation-delay: 0s;
}

.announcements:nth-child(2) {
  animation-delay: 1s;
}

.announcements:nth-child(3) {
  animation-delay: 2s;
}

.announcements img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.scrolling-content {
  background: rgb(119, 74, 22);
  position: relative;
  padding: 20px 30px;
  border-radius: 6px;
  font-size: 15px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: rgb(119, 74, 22);
  top: 50px;
  left: 100%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.scrolling-content h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.scrolling-content small {
  font-size: 17px;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 15px;
}

.scrolling-content p {
  font-size: 20px;
  color: white;
  word-wrap: break-word;
}

.arrow {
  position: absolute;
  height: 0;
  width: 0;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(119, 74, 22);
  right: -15px;
}

.img-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 5%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: aliceblue;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: aliceblue;
  background: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .nav {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .nav .dot {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .nav .dot.active {
  background: rgb(107, 59, 3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info {
    padding: 10px 25px;
  }

  .img-slider .slide .info h2 {
    font-size: 35px;
  }

  .img-slider .slide .info p {
    width: 70%;
    font-size: 15px;
  }

  .img-slider .nav {
    bottom: 25px;
  }

  .img-slider .nav .dot {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info {
    padding: 10px 20px;
  }

  .img-slider .slide .info h2 {
    font-size: 30px;
  }

  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }

  .img-slider .nav {
    bottom: 15px;
  }

  .img-slider .nav .dot {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info {
    padding: 5px 10px;
  }

  .img-slider .slide .info h2 {
    font-size: 25px;
  }

  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }

  .img-slider .nav {
    bottom: 10px;
  }
}

/* Adjust the styling of the navigation buttons */
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s;
  /* Add transition for hover effect */
}

/* Style the buttons to look like arrows */
.prev-btn {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.next-btn {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Add hover effect */
.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Style the arrows */
.prev-btn::before,
.next-btn::before {
  content: '\2039';
  /* Unicode for left-pointing arrow */
  font-size: 20px;
}

.next-btn::before {
  content: '\203A';
  /* Unicode for right-pointing arrow */
}

.offers {
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offers h1 {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  color: rgb(126, 75, 9);
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.offers.visible h1 {
  opacity: 1;
  transform: translateX(0);
}

.offers-container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card>.row>.icon {
  background-color: rgb(85, 59, 10);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card>.row>.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.row {
  background: rgba(0, 0, 0, 0.5);
}

.description p {
  color: #ffffff;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked+label {
  width: 600px;
}

input:checked+label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="off1"] {
  background-image: url('images/offer1.webp');
}

.card[for="off2"] {
  background-image: url('images/offer2.webp');
}

.card[for="off3"] {
  background-image: url('images/offer3.webp');
}

.card[for="off4"] {
  background-image: url('images/offer4.webp');
}

.card[for="off5"] {
  background-image: url('images/offer5.webp');
}

.card[for="off6"] {
  background-image: url('images/offer6.webp');
}

.faqs-container {
  background: rgb(85, 59, 10);
  min-height: 10vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px; 
  overflow: hidden;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.faqs-container h1 {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.faqs-container.visible h1 {
  opacity: 1;
  transform: translateX(0);
}

.faqs {
  flex: 1;
  width: 700px;
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid #ffffff;
  cursor: pointer;
  display: flex;
  /* Use flexbox */
  flex-direction: column;
}

.faqs:last-child {
  margin-bottom: 2rem; /* Add margin at the bottom of the last question-answer pair in each .faqs container */
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.question h2 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s ease;
  padding: 0 1rem;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faqs.active .answer {
  max-height: 300px;
}