* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(85, 60, 10);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out, transform 0.2s ease-out;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
textarea:hover {
    border-color: #aaa;
    transform: scale(1.05);
}

input[type="submit"] {
    background-color: #ffffff;
    color: rgb(85, 60, 10);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="submit"]:hover {
    transition: 0.3s ease;
    transform: scale(1.2);
}

.center {
    text-align: center;
}

/* Animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-container {
    animation: fade-in 1s ease-out;
}