footer {
  color: rgb(119, 74, 22);
  font-size: 15px;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

footer::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(119, 74, 22);
}