/* Add a scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #734c0c;
    border: 0px groove #ffffff;
    border-radius: 0px;
}
/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: #58350e;
}
/* Scrollbar thumb active */
::-webkit-scrollbar-thumb:active {
    background: #6f460b;
}
/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #ebebeb;
    border: 0px dashed #000000;
    border-radius: 0px;
}
/* Scrollbar track hover and active */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: #dedede;
}
/* Scrollbar corner */
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Root variables */
:root {
    --link-color: rgb(133, 89, 9);
    /* Default link color */
    --line-color: rgb(107, 59, 3);
    /* Default line color */
}

@font-face {
    font-family: 'Tangerine'; /* Replace 'YourFontName' with the actual font name */
    src: url('fonts/IurY6Y5j_oScZZow4VOxCZZM.woff2') format('woff2'), /* Replace 'path/to/font.woff2' with the actual path to your font file */
         url('fonts/IurY6Y5j_oScZZow4VOxCZZM.woff2') format('woff2'); /* Replace 'path/to/font.woff' with the actual path to your font file */
    font-weight: normal;
    font-style: normal;
}

/* Navbar container */
.navbar-container {
    width: 100%;
    height: 100vh;
    background-image: url('images/hotel-front-view.webp');
    background-position: center bottom 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Banner */
.banner {
    width: 100%;
    height: 215px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img {
    width: 140px;
    height: 140px;
    padding-bottom: 0;
    cursor: pointer;
}

/* Navbar */
.navbar {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.navbar h2 {
    margin: auto;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(133, 89, 9);
    font-weight: bold;
}

/* List items */
.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 10px;
}

/* Links */
.navbar ul li a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
    text-transform: uppercase;
}

/* Line transition */
.navbar ul li::after {
    content: '';
    width: 0;
    height: 4px;
    background: var(--line-color);
    position: absolute;
    transition: width 0.5s;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

/* Line on hovered link */
.navbar ul li.active::after,
.navbar ul li:hover::after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        height: auto;
    }

    .banner {
        height: auto; 
        width: 60%;
    }

    .logo img {
        width: 100px; 
        height: 100px; 
    }

    .navbar h2 {
        font-size: 20px;
    }

    .navbar ul li {
        margin: 0 10px; 
    }
}
